#relativeCard {
  height: 100%;
  width: 100%;
  background-image: linear-gradient(50deg ,#202024 ,#202024, var(--color-orange-400));
  transition: opacity 0.2s linear;
  color: var(--color-white);
  height: 200px;
  justify-content: center;
  align-items: center;
  display: flex;
}